
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-color: rgba(75, 55, 154, 255);
    }

    /*Aici incepe styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */
    .icon {
        width: 30px;
        height: 30px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    #welcomePart {
        background-image: url("images/welcomeScrenn.jpg");
        background-color: rgba(165,82,197,255);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    #header {
        display: grid;
        grid-auto-flow: column;
    }
    .links {
        color: white;
        text-decoration: none;
        margin: 20px;
        font-size: 1.5rem;
    }
    #logoDiv {
        width: 100%;
        margin: 30px;
        display: table;
        border-collapse: collapse;
    }
    #pageName {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        display: table-cell;
        vertical-align: middle;
        width: 99%;
    }
    #menuIconDiv {
        display: table;
        text-align: right;
        margin: 60px;
    }
    #menu {
       display: none;
       transition: 0.2s;
    }
    
    #logoTitle {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        cursor: pointer;
    }
    #menuIcon:hover {
        cursor: pointer;
    }
    #title {
        font-weight: 100;
    }
    #slogan {
        font-weight: 100;
    }
    #contactBtn {
        color: white;
        width: 150px;
        height: 60px;
        border-color: white;
    }

    /*Aici se termina styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */



    /*Aici incepe styleingul pentru partea 2 a paginii*/
    #firstInfo {
        background-color: white;
    }
    #titleInfo1 {
        font-weight: 100;
    }
    #textInfo1 {
        color: #777777;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        line-height: 1.5em;
        font-size: 18px;
    }
    /*Aici se termina styleingul pentru partea 2 a paginii*/


    /*Aici incepe styleingul pentru partea 3 a paginii*/

    #secondInfo{
        background-image: url('images/secondInfoImage.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
    }
    #textArea2 {
        color: rgb(229, 229, 229);
    }
    #textArea2 h1 {
        font-weight: 100;
        font-family: 'Courier New', Courier, monospace;
    }
    #textArea2 p {
        font-weight: 300;
        line-height: 1.5em;
        font-size: 18px;
    }
    /*Aici se termina styleingul pentru partea 3 a paginii*/

    /*Aici incepe styleingul pentru partea 4 a paginii*/
    #servicesPart {
        background-color: white;
    }
    .div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        height: 500px;
    }

    #div1 {
        background-image: url('images/order.jpg');
    }
    #div2 {
        background-image: url('images/deign.jpg');
    }
    #div3 {
        background-image: url('images/programming.jpg');
    }
    #div4 {
        background-image: url('images/sever.jpg');   
    }
    .overlay {
        background-image: linear-gradient(to left, rgba(169,84,199,0.7), rgba(50,38,162,0.7));
        border-radius: 20px;
    }
    
    .overlay h1 {
        color: rgb(229, 229, 229); 
        font-size: 2em;
    }
    .overlay p {
        color: rgb(229, 229, 229);
        font-size: 1.5em;
    }
    
    /*Aici se termina styleingul pentru partea 4 a paginii*/

    /*Footer start*/
    footer {
        background-color: rgb(34,34,34,255);
    }
    footer img {
        margin: 10px;
    }
    footer p {
        text-align: center;
        color: rgb(229, 229, 229);
        margin: 0;
    }
    #socialMedia {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    /*Footer finish*/
