<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<link rel="stylesheet" href="css/about.css">
<body>
    <main>
        <div id="welcomePart">
            <div id="header">
                <div>
                    <img class="logo" src="../images/Simplelogo.png" alt="Logo">
                    <a class="links" id="pageName" href="index.html">GEN Graphic</a>
                </div>
                <div id="menuIconDiv">
                    <a class="links" href="../index.html">Home</a>
                    <a class="links" href="">Contact</a>
                    <img id="menuIcon" class="icon" src="../images/menuIcon.png" alt="Menu Icon">
                </div>
            </div>
            <div id="titleCont">
                <h2 id="slogan">WEB AT HIGH STANDARDS</h2>
                <h1 id="title">GEN GRAPHIC</h1>
                <button id="contactBtn">Contact us</button>
            </div>
        </div>
        <div id="secondInfo">
            <div class="textAreas" id="textArea2">
                <h1>Who are <strong>we</strong>?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div id="ourTeam">
            <div id="aboutDev">
                <h1 id="titleDev">Web developer</h1>
                <img id="imageDev" class="images" src="../images/developer.jpg" alt="Man working on computer">
                <p id="textDev">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                    mollit anim id est laborum.</p>  
            </div>

            <div id="aboutDesigner">
                <h1 id="titleDesigner">Web Designer</h1>
                <img id="imageDesigner" class="images" src="../images/designer.jpg" alt="Man design on paper">
                <p id ="textDesigner" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                    mollit anim id est laborum.</p>  
            </div>    
        </div>
        <footer>
            <div id="socialMedia">
                <img id="facebookLink" class="icon" src="../images/facebook-app-icon.png" alt="Facebook Icon">
                <img id="linkedinLink" class="icon" src="../images/linkedin-app-icon.png" alt="LinkedIn Icon">
                <img id="upworkLink" class="icon" src="../images/upwork-icon.png" alt="Upwork Logo">
            </div>
            <p>Copyright ©2022 All rights reserved to Gen Graphic</p>
        </footer>
    </main>
</body>
</html>