<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<link rel="stylesheet" href="css/about.css">
<body>
    <main>
        <div id="welcomePart">
            <div id="header">
                <div id="logoDiv">
                    <img class="logo" src="../images/Simplelogo.png" alt="Logo">
                    <a class="links" id="pageName" href="../index.html">GEN Graphic</a>
                </div>
                <div id="menuIconDiv">
                    <div id="menuOptions">
                        <a class="links" href="../index.html">Home</a>
                        <a class="links" href="contact.html">Contact</a>
                    </div>
                    
                    <img id="menuIcon" class="icon" src="../images/menuIcon.png" alt="Menu Icon"> 
                </div>
            </div>
            <div id="titleCont">
                <h2 id="slogan">WEB AT HIGH STANDARDS</h2>
                <h1 id="title">GEN GRAPHIC</h1>
                <button id="contactBtn">Contact us</button>
            </div>
        </div>
        <div id="secondInfo">
            <div class="textAreas" id="textArea2">
                <h1>Who are <strong>we</strong>?</h1>
                <p>We represent an agency whose values
                    revolve around attention to details, superior quality 
                    and passion for perfection,
                    setting new standards for websites production. Behind all these
                    success are working hours and desire to satisfy
                    our customers. This way we develop
                    constantly new ideas, and besides all this
                    we always take into account the wishes of the client</p>
            </div>
        </div>
        <div id="ourTeam">
            <div id="aboutDev">
                <h1 id="titleDev">Web developer</h1>
                <img id="imageDev" class="images" src="../images/DeleuCostel.jpeg" alt="Man working on computer">
                <p id="textDev">From the beginning of 2021 until now, 
                    I've put piece next to the piece in this puzzle, 
                    and at this moment I am the founder of the agency "GEN GRAPHIC", the ambassador of the Website "GEN GRAPHIC" and its developer. Our agency
                    successfully represents a complex and complete line of products. I've always liked to break out patterns and have fun and to improve my professional skills, that's how I've got now to develop a team and have my own agency.</p>  
            </div>

            <div id="aboutDesigner">
                <h1 id="titleDesigner">Web Designer</h1>
                <img id="imageDesigner" class="images" src="../images/AndreiBalan.jpg" alt="Man design on paper">
                <p id ="textDesigner" >He finished the course in the first part of 2022
                    "UI/UX Design-CareerFoundry", and in this
                    moment is the designer of the agency "Gen
                    Graph".
                    Creative, big-picture thinker, attentive to details,
                    Andrei always chooses the most originals
                    designs for our clients.</p>  
            </div>    
        </div>
        <footer>
            <div id="socialMedia">
                <img id="facebookLink" class="icon" src="../images/facebook-app-icon.png" alt="Facebook Icon">
                <img id="linkedinLink" class="icon" src="../images/linkedin-app-icon.png" alt="LinkedIn Icon">
                <img id="upworkLink" class="icon" src="../images/upwork-icon.png" alt="Upwork Logo">
            </div>
            <p>Copyright ©2022 All rights reserved to Gen Graphic</p>
        </footer>
    </main>
</body>
<script src="js/about.js"></script>
</html>