<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<link rel="stylesheet" href="css/contact.css">
<body>
    <main>
        <div id="welcomePart">
            <div id="header">
                <div id="logoDiv">
                    <img class="logo" src="../images/Simplelogo.png" alt="Logo">
                    <a class="links" id="pageName" href="../index.html">GEN Graphic</a>
                </div>
                <div id="menuIconDiv">
                    
                    <div id="menuOptions">
                        <a class="links" href="../index.html">Home</a>
                        <a class="links" href="about.html">About us</a>
                    </div>
                    
                    <img id="menuIcon" class="icon" src="../images/menuIcon.png" alt="Menu Icon"> 

                </div>
            </div>
            <div id="titleCont">
                <h2 id="slogan">WEB AT HIGH STANDARDS</h2>
                <h1 id="title">GEN GRAPHIC</h1>
            </div>
        </div>
        <div id="contactDaten">
            <h1>We are everywhere you are</h1>

            <div id="datenContainer">
                <p id="phoneTxt">Phone nummber:</p>
                <a id="phone" href="tel:+4915145255302">+49 151 45255302</a>

                <p id="emailTxt">E-mail:</p>
                <a id="email">gengraphicservices@gmail.com</a>

                <p id="facebookTxt">Facebook</p>
                <a id="facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100087527200353">https://www.facebook.com/profile.php?id=100087527200353</a>

                <p id="fiverTxt">Fiver:</p>
                <a id="fiver" target="_blank" rel="noopener noreferrer" href="https://www.fiverr.com/gengraphic?up_rollout=true">https://www.fiverr.com/gengraphic?up_rollout=true</a>

                <p id="upworkTxt">Upwork:</p>
                <a id="upwork" target="_blank" rel="noopener noreferrer" href="https://www.upwork.com/freelancers/~017e3bb98e715de75a">https://www.upwork.com/freelancers/~017e3bb98e715de75a</a>

                <p id="linkedinTxt">LinkedIn:</p>
                <a id="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/gen-graphic-b10152256/">https://www.linkedin.com/in/gen-graphic-b10152256/</a>

                <p id="gitTxt">Git Hub:</p>
                <a id="git" target="_blank" rel="noopener noreferrer" href="https://github.com/GenGraphic">https://github.com/GenGraphic</a>
            </div>
        </div>
        <div id="googleMap">
            <h1>Pay us a <strong>visit</strong></h1>
            <div id="adressDiv">
                <h2 style="color: white;">Adress:</h2>
                <p>Country: Germany</p>
                <p>City: Moosburg a.d.Isar</p>
                <p>Street: Bahnhofstrasse 1</p>
                <p style="font-size: 10px; text-decoration: underline;">*Please let us know if you come by.</p>
            </div>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10581.072382222079!2d11.9310415!3d48.470571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e3de261301fa7%3A0x20e6c7262161a039!2sGen%20Graphic!5e0!3m2!1sen!2sde!4v1668245731557!5m2!1sen!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="sendEmail">
            <h1>Or send us an <strong>E-mail</strong></h1>
            <form id="emailForm" action="submit">
                <input id="emailInput" name="email" type="email" placeholder="Your E-mail adress">

                <input id="nameInput" name="name" type="text" placeholder="Enter your name">

                <textarea id="messageInput" name="message" type="text" placeholder="Your message is..."></textarea>

                <button id="sendEmailBtn" type="submit">Send Email</button>
            </form>
        </div>
        <footer>
            <div id="socialMedia">
                <img id="facebookLink" class="icon" src="../images/facebook-app-icon.png" alt="Facebook Icon">
                <img id="linkedinLink" class="icon" src="../images/linkedin-app-icon.png" alt="LinkedIn Icon">
                <img id="upworkLink" class="icon" src="../images/upwork-icon.png" alt="Upwork Logo">
            </div>
            <p>Copyright ©2022 All rights reserved to Gen Graphic</p>
        </footer>
    </main>
</body>
<script src="js/contact.js"></script>
</html>