<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
</head>
<link rel="icon" href="../images/tabIcon.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/portofolio.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
<body>
    <div id="header" class="container">
        <div class="row p-3 bg-dark d-none d-lg-flex">
            <div class="col-auto">
                <img class="logo" src="../images/Simplelogo.png" alt="Logo">
            </div>
            <div class="col my-auto text-center">
                <a class="links align-middle btn disabled" href="#">Portofolio</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links align-middle" href="../index.html">Home</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="about.html">About us</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="contact.html">Contact</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="price.html">Prices</a>
            </div>
        </div>

        <div class="row bg-dark d-lg-none">
            <div class="col">
                <img class="logo" src="../images/Simplelogo.png" alt="Logo">
            </div>
            <div class="col my-auto text-end">
                <img id="menuIcon" class="icon" src="../images/menuIcon.png" alt="Menu Icon">
            </div>

            <div class="col-12" id="responsiveMenu">
                <div class="row">
                    <div class="col-12 col-md-3 align-self-end my-auto text-end">
                        <a class="links align-middle btn disabled" href="#">Portofolio</a>
                    </div>
                    <div class="col-12 col-md-2 align-self-end my-auto text-end">
                        <a class="links align-middle" href="../index.html">Home</a>
                    </div>
                    <div class="col-12 col-md-auto my-auto text-end">
                        <a class="links" href="about.html">About us</a>
                    </div>
                    <div class="col-12 col-md-2 my-auto text-end">
                        <a class="links" href="contact.html">Contact</a>
                    </div>
                    <div class="col-12 col-md-2 my-auto text-end">
                        <a class="links" href="price.html">Prices</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="welcomePart" class="container-fluid">
        <div class="row h-100">
            <div class="col my-auto text-center">
                <h1>Let us show you our work.</h1>
            </div>
        </div>
    </div>

    <div id="portofolioContent" class="container pt-5 text-center">
        <div class="row">
            <div class="col-12 h-auto">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col mb-3">
                                <img id="arrow_up_caffebar" class="icon" src="../images/arrow_up.png" alt="Arrow up">
                            </div>
                        </div>
                        <div class="row">
                            <div id="imagesCaffeBar" class="col">
                                <img class="img img1 w-75 h-auto" src="../images/portofolio/caffe_bar1.png" alt="Caffe Bar Foto">
                                <img class="img img2 w-75 h-auto" src="../images/portofolio/caffe_bar2.png" alt="Caffe Bar Foto">
                                <img class="img img3 w-75 h-auto" src="../images/portofolio/caffe_bar3.png" alt="Caffe Bar Foto">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-auto">
                        <h1>Coffe Tea Bar</h1>
                        <p>Most of us enjoy coffe. Last year people arroud the word have consumed over 166 milion bags 
                            of cofee(one bag = 60kg). So cofee is important to us. So our client knew that and opened 
                            a nice Coffe bar. One cosy place where people can drink their cofee or even a tea. This 
                            Website managed to bring them lots of new clients that searched a place to drink their coffe.
                            Let us know if you also need something like that. You can use this Templete or we can make
                            you a complete new one, that will be all yours and get you lots of new clients. Let 
                            people know that you offer the best coffe in town.
                        </p>
                        <button type="button" class="btn btn-dark contactBtn">Contact us</button>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5 m-lg-0">
                <div class="row">
                    <div class="col-12 col-lg-6 my-auto order-1 order-lg-0">
                        <h1>Bahn Portal</h1>
                        <p>One project that i loved working on is this learning platform. I like helping others, and 
                            with this kind of projects i can help students learn easier. We live in a time where 
                            everithing has to be fast and easy to acces; and allways in hand. This is a huge learn 
                            platform, for students that want to learn how to drive a train. Exactly, drive trains.
                        </p>
                        <p>We have to be productive, work smart to be in front of everione else. Help your students
                            learn faster and make their life easier. And transform their thime spened on their phones
                            productive. Be there where thei spend most of their time and stop trying change the way 
                            world progress.
                        </p>
                        <button type="button" class="btn btn-dark contactBtn">Contact us</button>
                    </div>
                    <div class="col-12 col-lg-6 order-0 order-lg-1">
                        <div class="row">
                            <div class="col mb-3">
                                <img id="arrow_up_hasse" class="icon" src="../images/arrow_up.png" alt="Arrow up">
                            </div>
                        </div>
                        <div class="row">
                            <div id="imagesHasse" class="col">
                                <img class="img img1 w-75" src="../images/portofolio/hasse1.png" alt="Hasse Foto">
                                <img class="img img2 w-75" src="../images/portofolio/hasse2.png" alt="Hasse Foto">
                                <img class="img img3 w-75" src="../images/portofolio/hasse3.png" alt="Hasse Foto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col mb-3">
                                <img id="arrow_up_pasiLumina" class="icon" src="../images/arrow_up.png" alt="Arrow up">
                            </div>
                        </div>
                        <div class="row">
                            <div id="imagesPasiLumina" class="col">
                                <img class="img img1 w-75" src="../images/portofolio/pasi_spre_lumina1.png" alt="Pasi spre lumina Foto">
                                <img class="img img2 w-75" src="../images/portofolio/pasi_spre_lumina2.png" alt="Pasi spre lumina Foto">
                                <img class="img img3 w-75" src="../images/portofolio/pasi_spre_lumina3.png" alt="Pasi spre lumina Foto">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 my-auto">
                        <h1>Steps towards the light </h1>
                        <p>Give back! Like i said, we like to help others. And this project was our way to give something back.
                            This website is made for an ONG from Roumania that helps childrens and adults. They make a lot
                            for a small village where thei offer for some of the something to work. Maybe that sound not so 
                            important but there is very big. Because thei activate in a very poor area, where people have
                            nothing to work, and where there is no work...you know whats tend to apear. (poverty)
                        </p>
                        <p>If you are also one of this kind of great people that help people in need, tell us. We have 
                            special prices for people like you, or maybe no price. Just tell us what you make, and 
                            how your ONG cand change people lives in better.
                        </p>
                        <button type="button" class="btn btn-dark contactBtn">Contact us</button>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5 mb-5 mb-lg-0 mt-lg-0">
                <div class="row">
                    <div class="col-12 col-lg-6 my-auto order-1 order-lg-0">
                        <h1>We make you Brand</h1>
                        <p>Marketing. What do you think about this? What kommes in your mind when you think about marketing?
                           Annoying spam E-mail, adds when you want to see a video, or read a blog and some ad pop up?
                           Well marketing is more than just ads. If this is used smart, can make your business blow 
                           (in a good way). If your business is succesfull means that you have a good marketing team,
                           because this is the only thing that bring your work in front of people. This is a kind of 
                           Website that every business need, because this is your online visitcard. This is the way
                           you tell people who you are, what you make, where you are, what you charge and lots of 
                           other relevant information that transform a guest in client.  
                        </p>
                        <p>Make yourself known with a nice looking Website. If you are a freelancer, what other way 
                             to explain your work you have? How should someone know if they have the money to hire you
                             other than that? Because we know that the question "How much you charge?" is not a easy
                             question to ask. And a lot of potential clients avoid calling. Make your clients life easy.
                        </p>
                        <button type="button" class="btn btn-dark contactBtn">Contact us</button>
                    </div>
                    <div class="col-12 col-lg-6 order-0 order-lg-1">
                        <div class="row">
                            <div class="col mb-3">
                                <img id="arrow_up_weBrand" class="icon" src="../images/arrow_up.png" alt="Arrow up">
                            </div>
                        </div>
                        <div class="row">
                            <div id="imagesWeBrand" class="col">
                                <img class="img img1 w-75" src="../images/portofolio/we_make_brand1.png" alt="We make Brand Foto">
                                <img class="img img2 w-75" src="../images/portofolio/we_make_brand2.png" alt="We make Brand Foto">
                                <img class="img img3 w-75" src="../images/portofolio/we_make_brand3.png" alt="We make Brand Foto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="socialMedia">
            <img id="facebookLink" class="icon" src="../images/facebook-app-icon.png" alt="Facebook Icon">
            <img id="linkedinLink" class="icon" src="../images/linkedin-app-icon.png" alt="LinkedIn Icon">
            <img id="upworkLink" class="icon" src="../images/upwork-icon.png" alt="Upwork Logo">
        </div>
        <p>Copyright ©2022 All rights reserved to Gen Graphic</p>
    </footer>
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="js/portofolio.js"></script>
</html>