<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
</head>
<link rel="icon" href="../images/tabIcon.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/portofolio.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
<body>
    <div id="header" class="container">
        <div class="row p-3 bg-dark d-none d-lg-flex">
            <div class="col-auto">
                <img class="logo" src="../images/Simplelogo.png" alt="Logo">
            </div>
            <div class="col my-auto text-center">
                <a class="links align-middle btn disabled" href="#">Portofolio</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links align-middle" href="../index.html">Home</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="about.html">About us</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="contact.html">Contact</a>
            </div>
            <div class="col my-auto text-center">
                <a class="links" href="price.html">Prices</a>
            </div>
        </div>

        <div class="row bg-dark d-lg-none">
            <div class="col">
                <img class="logo" src="../images/Simplelogo.png" alt="Logo">
            </div>
            <div class="col my-auto text-end">
                <img id="menuIcon" class="icon" src="../images/menuIcon.png" alt="Menu Icon">
            </div>

            <div class="col-12" id="responsiveMenu">
                <div class="row">
                    <div class="col-12 col-md-3 align-self-end my-auto text-end">
                        <a class="links align-middle btn disabled" href="#">Portofolio</a>
                    </div>
                    <div class="col-12 col-md-2 align-self-end my-auto text-end">
                        <a class="links align-middle" href="../index.html">Home</a>
                    </div>
                    <div class="col-12 col-md-auto my-auto text-end">
                        <a class="links" href="about.html">About us</a>
                    </div>
                    <div class="col-12 col-md-2 my-auto text-end">
                        <a class="links" href="contact.html">Contact</a>
                    </div>
                    <div class="col-12 col-md-2 my-auto text-end">
                        <a class="links" href="price.html">Prices</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="welcomePart" class="container-fluid">
        <div class="row h-100">
            <div class="col my-auto text-center">
                <h1>Let us show your our work.</h1>
            </div>
        </div>
    </div>

    <div id="portofolioContent" class="container pt-5 text-center">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <img class="img img1" src="../images/portofolio/caffe_bar1.png" alt="Caffe Bar Foto">
                        <img class="img img2" src="../images/portofolio/caffe_bar2.png" alt="Caffe Bar Foto">
                        <img class="img img3" src="../images/portofolio/caffe_bar3.png" alt="Caffe Bar Foto">
                    </div>
                    <div class="col-6">
                        <h1>Caffe Tea Bar</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis ut sollicitudin ligula, ac commodo ipsum. 
                            Phasellus elementum turpis et purus pellentesque accumsan. 
                            Fusce tincidunt, urna quis commodo malesuada, eros lacus bibendum 
                            felis, id accumsan urna tortor vitae massa. Praesent mollis libero 
                            leo, vitae eleifend velit bibendum sed. Maecenas eget euismod.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h1>Caffe Tea Bar</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis ut sollicitudin ligula, ac commodo ipsum. 
                            Phasellus elementum turpis et purus pellentesque accumsan. 
                            Fusce tincidunt, urna quis commodo malesuada, eros lacus bibendum 
                            felis, id accumsan urna tortor vitae massa. Praesent mollis libero 
                            leo, vitae eleifend velit bibendum sed. Maecenas eget euismod.</p>
                    </div>
                    <div class="col-6">
                        <img class="img img1" src="../images/portofolio/hasse1.png" alt="Hasse Foto">
                        <img class="img img2" src="../images/portofolio/hasse2.png" alt="Hasse Foto">
                        <img class="img img3" src="../images/portofolio/hasse3.png" alt="Hasse Foto">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <img class="img img1" src="../images/portofolio/pasi_spre_lumina1.png" alt="Pasi spre lumina Foto">
                        <img class="img img2" src="../images/portofolio/pasi_spre_lumina2.png" alt="Pasi spre lumina Foto">
                        <img class="img img3" src="../images/portofolio/pasi_spre_lumina3.png" alt="Pasi spre lumina Foto">
                    </div>
                    <div class="col-6">
                        <h1>Caffe Tea Bar</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis ut sollicitudin ligula, ac commodo ipsum. 
                            Phasellus elementum turpis et purus pellentesque accumsan. 
                            Fusce tincidunt, urna quis commodo malesuada, eros lacus bibendum 
                            felis, id accumsan urna tortor vitae massa. Praesent mollis libero 
                            leo, vitae eleifend velit bibendum sed. Maecenas eget euismod.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h1>Caffe Tea Bar</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis ut sollicitudin ligula, ac commodo ipsum. 
                            Phasellus elementum turpis et purus pellentesque accumsan. 
                            Fusce tincidunt, urna quis commodo malesuada, eros lacus bibendum 
                            felis, id accumsan urna tortor vitae massa. Praesent mollis libero 
                            leo, vitae eleifend velit bibendum sed. Maecenas eget euismod.</p>
                    </div>
                    <div class="col-6">
                        <img class="img img1" src="../images/portofolio/we_make_brand1.png" alt="We make Brand Foto">
                        <img class="img img2" src="../images/portofolio/we_make_brand2.png" alt="We make Brand Foto">
                        <img class="img img3" src="../images/portofolio/we_make_brand3.png" alt="We make Brand Foto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="socialMedia">
            <img id="facebookLink" class="icon" src="../images/facebook-app-icon.png" alt="Facebook Icon">
            <img id="linkedinLink" class="icon" src="../images/linkedin-app-icon.png" alt="LinkedIn Icon">
            <img id="upworkLink" class="icon" src="../images/upwork-icon.png" alt="Upwork Logo">
        </div>
        <p>Copyright ©2022 All rights reserved to Gen Graphic</p>
    </footer>
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="js/portofolio.js"></script>
</html>