
*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgba(75, 55, 154, 255);
}

/*Aici incepe styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */
    .icon {
        width: 30px;
        height: 30px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    #header {
        overflow-y: hidden;
    }
    #responsiveMenu {
        height: 0;
        transition: 0.5s;
    }
    .links {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #logoTitle {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        cursor: pointer;
    }
    #menuIcon:hover {
        cursor: pointer;
    }
    #welcomePart {
        background-image: url("../../images/welcomeScrenn.jpg");
        background-color: rgba(165,82,197,255);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        height: 500px;
    }
    #title, #slogan {
        font-weight: 100;
    }
    #contactBtn {
        color: white;
        width: 150px;
        height: 60px;
        border-color: white;
    }
    /*Aici se termina styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */

    
/*Aici incepe styleingul pentru partea 2 a paginii*/
#secondInfo{
    background-image: url('../../images/secondInfoImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px auto;
    color: white;
}
#textWhoUs p {
    font-size: 1.2em;
}
#aboutDev, #aboutDesigner {
    color: white;
    font-size: 1.2em;
}
/*Aici se termina styleingul pentru partea 2 a paginii*/

/*Aici incepe style pentru membrii echipei*/
.images {
    border-radius: 50%;
}
@media only screen and (max-width: 991px) {
    .images {
        height: auto;
        width: 50%;
    }
}
/*Footer start*/
footer {
    background-color: rgb(34,34,34,255);
}
footer img {
    margin: 10px;
}
footer p {
    text-align: center;
    color: rgb(229, 229, 229);
    margin: 0;
}
#socialMedia {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
/*Footer finish*/
