
*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgba(75, 55, 154, 255);
}

/*Aici incepe styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */
    .icon {
        width: 30px;
        height: 30px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    .links {
        color: white;
        text-decoration: none;
        margin: 20px;
        font-size: 1.5rem;
    }
    #logoTitle {
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        cursor: pointer;
    }
    #menu {
        display: none;
        transition: 0.3s;
    }
    #menuIcon:hover {
        cursor: pointer;
    }
    #title, #slogan {
        font-weight: 100;
    }
    #welcomePart {
        background-image: url("../../images/welcomeScrenn.jpg");
        background-color: rgba(165,82,197,255);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 500px;
        color: white;
    }
    /*Aici se termina styleingul pentru prima parte a paginii 
    unde se afla header-ul, si titlul */

    /*Media links style*/
    .media {
        background-color: white;
        border-radius: 20px;
        border: 5px solid rgb(204, 204, 204);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #titleMedia {
        color: white;
    }

    /*Aici incep sa fac style pentru google map*/
    #googleMap {
        background-image: url('../../images/map.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #adress, #titleAdress {
        color: white;
    }
    .wrapped {
        word-wrap: break-word;
    }
    /*Aici se termine style pentru google map*/

    /*Aici incep designul pentru Email*/
    #emailForm input {
        border: 2px solid rgb(50,38,162);
    }
    #emailForm textarea {
        border: 2px solid rgb(50,38,162);
    }
    #sendEmailBtn, #titleEmail {
        color: white;
    }
    /*Aici se termina designul pentru Email*/

    /*Footer start*/
    footer {
        background-color: rgb(34,34,34,255);
    }
    footer img {
        margin: 10px;
    }
    footer p {
        text-align: center;
        color: rgb(229, 229, 229);
        margin: 0;
    }
    #socialMedia {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    /*Footer finish*/

    @media only screen and (max-width: 1200px) {
        #menus {
            background-color: rgba(255,165,76,255);
            height: 100vh;
            width: 210px;
            position: fixed;
            top: 0;
            right: 0;
            font-size: 1.5em;
            z-index: 1;
        }
        #menuBtn {
            z-index: 1;
        }
    }
    