body {
    background-image: url("../../images/PriceBkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon {
    width: 30px;
    height: 30px;
}
.logo {
    width: 70px;
    height: 70px;
}

.page-title {
    text-align: center;
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
}
.packages {
    background-color: white;
    border-radius: 10px;
    border: 5px solid rgb(204, 204, 204);
    height: 590px;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.favorite-package {
    height: 680px;
    border: 5px solid rgba(13,110,253,255);
}
.packages ul {
    display: inline-block;
    text-align: left;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.452);
}
.packages-title {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}
.feature {
    background-color: white;
    border-radius: 10px;
    border: 5px solid rgb(204, 204, 204);
    margin: 10px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.activeFeature {
    border-color: rgba(13,110,253,255);
}
#customizePackage {
    margin-top: 5%;
    margin-bottom: 5%;
}
.prices {
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(73, 80, 87);
}
.package-to-customize {
    height: 680px;
    border: 5px solid rgba(13,110,253,255);
}